In [66]:
!pip install plotnine

Collecting plotnine
  Downloading https://files.pythonhosted.org/packages/3a/68/cf39dfde4e9fd886703621e3393cd8103cb48d5ecc95b8f048ec148e53a6/plotnine-0.3.0-py2.py3-none-any.whl (3.4MB)
Requirement already satisfied: pandas>=0.21.0 in c:\users\user\anaconda\lib\site-packages (from plotnine) (0.23.0)
Requirement already satisfied: matplotlib>=2.1.0 in c:\users\user\anaconda\lib\site-packages (from plotnine) (2.2.2)
Requirement already satisfied: patsy>=0.4.1 in c:\users\user\anaconda\lib\site-packages (from plotnine) (0.5.0)
Requirement already satisfied: six in c:\users\user\anaconda\lib\site-packages (from plotnine) (1.11.0)
Collecting mizani>=0.4.1 (from plotnine)
  Downloading https://files.pythonhosted.org/packages/52/01/8a3b4c6e45749674a1e5241174b4b63cd6435125e124bec275f3e02c96ac/mizani-0.4.6-py2.py3-none-any.whl (65kB)
Requirement already satisfied: scipy>=1.0.0 in c:\users\user\anaconda\lib\site-packages (from plotnine) (1.1.0)
Requirement already satisfied: numpy in c:\users\user\anaconda\lib\site-packages (from plotnine) (1.14.3)
Requirement already satisfied: statsmodels>=0.8.0 in c:\users\user\anaconda\lib\site-packages (from plotnine) (0.9.0)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\user\anaconda\lib\site-packages (from pandas>=0.21.0->plotnine) (2.7.3)
Requirement already satisfied: pytz>=2011k in c:\users\user\anaconda\lib\site-packages (from pandas>=0.21.0->plotnine) (2018.4)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda\lib\site-packages (from matplotlib>=2.1.0->plotnine) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\user\anaconda\lib\site-packages (from matplotlib>=2.1.0->plotnine) (2.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda\lib\site-packages (from matplotlib>=2.1.0->plotnine) (1.0.1)
Collecting palettable (from mizani>=0.4.1->plotnine)
  Downloading https://files.pythonhosted.org/packages/56/8a/84537c0354f0d1f03bf644b71bf8e0a50db9c1294181905721a5f3efbf66/palettable-3.1.1-py2.py3-none-any.whl (77kB)
Requirement already satisfied: setuptools in c:\users\user\anaconda\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.0->plotnine) (39.1.0)
Installing collected packages: palettable, mizani, plotnine
Successfully installed mizani-0.4.6 palettable-3.1.1 plotnine-0.3.0

distributed 1.21.8 requires msgpack, which is not installed.

In [69]:
!pip install msgpack

Collecting msgpack
  Downloading https://files.pythonhosted.org/packages/04/81/c6363198f24ec1c56e5c48ce685cb532e175125adade0cdb181c8c5fea6e/msgpack-0.5.6-cp36-cp36m-win_amd64.whl (85kB)
Installing collected packages: msgpack
Successfully installed msgpack-0.5.6

# Pandas로 국민청원 데이터 분석하기

## Pandas와 NumPy를 import해 옵니다.

In [70]:
import pandas as pd
from pandas.api.types import CategoricalDtype
import numpy as np
print(pd.__version__)
print(np.__version__)

0.23.0
1.14.3

In [12]:
import plotnine import *

SyntaxError: invalid syntax (<ipython-input-12-9c7ad677feff>, line 1)

## csv 데이터를 불러 옵니다.

In [2]:
df = pd.read_csv('https://s3.ap-northeast-2.amazonaws.com/data10902/petition/petition.csv', parse_dates=['start', 'end'])

## 읽어온 데이터가 몇 행 몇 열인지 봅니다.

In [3]:
df.shape

(210424, 8)

## 일부 데이터 미리 보기
* 상단 5개의 데이터를 불러옵니다.

In [8]:
df.head(3)

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

* 하단 3개의 데이터를 불러옵니다.

In [6]:
df.tail(3)

,article_id,start,end,answered,votes,category,title,content
210421,271765,2018-06-15,2018-07-15,0,3,일자리,판교 롯데마트에서,모 음식코너에서 시식을 위해 주 5일 일하는 50대 여성 알바 근로자...
210422,271766,2018-06-15,2018-07-15,0,12,인권/성평등,여탕에 남자아이들이 들어오자못하게 해주세요.,안녕하세요.청원자입니다.저는 보다시피 고 2입니다. 제가 어제 목욕탕(사우나)를 같...
210423,271767,2018-06-15,2018-07-15,0,2,미래,인천과 강원도 원주와 태백에도 중앙정부행정기관 청사를 설치해주세요,인천광역시 서구 원창동과 강원도 원주시 무실동과 강원도 정선에도 강원도 태백시 동점...

## 결측치가 있는지 확인해 봅니다.

In [47]:
df.isnull().sum() #크롤링을 잘 해왔기 때문에 결측치가 없음

article_id    0
start         0
end           0
answered      0
votes         0
category      0
title         0
content       1
dtype: int64

## 데이터 요약하기
* 어떤 컬럼이 있고 어떤 타입인지 출력해 봅니다.

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210424 entries, 0 to 210423
Data columns (total 8 columns):
article_id    210424 non-null int64
start         210424 non-null datetime64[ns]
end           210424 non-null datetime64[ns]
answered      210424 non-null int64
votes         210424 non-null int64
category      210424 non-null object
title         210424 non-null object
content       210423 non-null object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 12.8+ MB

* 데이터 타입만 따로 뽑아 봅니다.

In [43]:
df.dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
dtype: object

* 컬럼명만 따로 추출해 봅니다.

In [44]:
df.columns

Index(['article_id', 'start', 'end', 'answered', 'votes', 'category', 'title',
       'content'],
      dtype='object')

* 수치형 데이터에 대한 요약을 봅니다.

In [45]:
df.describe()

          article_id       answered          votes
count  210424.000000  210424.000000  210424.000000
mean   126356.643358       0.000128     146.814508
std     79120.580606       0.011327    4595.002647
min        21.000000       0.000000       0.000000
25%     54617.750000       0.000000       1.000000
50%    126121.500000       0.000000       3.000000
75%    192984.500000       0.000000      10.000000
max    271767.000000       1.000000  714875.000000

* 카테고리(object) 형태의 데이터에 대한 요약을 봅니다.

In [54]:
df.describe(include=[np.object])

       category     title   content
count    210424    210424    210423
unique       17    175539    195348
top        정치개혁  이명박 출국금지  이명박 출국금지
freq      38835      3018       597

## 답변대상 청원 보기
20만건 이상 투표를 받으면 답변 대상 청원이 됩니다.<br/>20만건 이상 투표를 받은 청원의 갯수를 세어보세요.

In [76]:
final_ans = df[df.votes > 200000]
final_ans.sum()

article_id                                              6384796
answered                                                     27
votes                                                  11878170
category      인권/성평등미래인권/성평등안전/환경보건복지기타성장동력성장동력인권/성평등인권/성평등교...
title         청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...
content       안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...
dtype: object

* 20만건 이상 투표를 받은 상위 5개의 청원을 head()를 통해 출력해 보세요.

In [77]:
final_ans.head()

,article_id,start,end,answered,votes,category,title,content
1752,1785,2017-09-03,2017-11-02,1,296330,인권/성평등,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
18111,18278,2017-09-30,2017-10-30,1,235372,인권/성평등,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...
25032,26024,2017-11-04,2017-12-04,1,216774,안전/환경,'주취감형(술을 먹으면 형벌 감형)' 폐지를 건의(청원)합니다.,"'주취감형'이란, 술을 먹고 범행을 저지를 때, 심신미약 (이성이 없고 우발적)이라..."
43992,45581,2017-11-17,2017-12-17,1,281985,보건복지,"권역외상센터 (이국종 교수님) 추가적, 제도적, 환경적, 인력 지원","청원사항)\n중증외상분야의 추가적, 제도적, 환경적, 인력 지원 방안마련\n현 의료..."

* 20만건 이상 투표를 받은 청원을 별도의 컬럼을 만들어 줍니다. 컬럼 이름은 `answer`로 합니다.

* df 데이터프레임의 크기를 다시 찍어 보세요. 컬럼 하나가 늘었나요?

* 새로 생성해 준 answer의 타입은 boolean 타입입니다. int로 변경해 보세요.

* 답변대상 청원중 아직 답변되지 않은 청원의 수를 계산해 보세요.

## 답변 대상 청원 중 투표를 가장 많이 받은 것

## 어느 분야의 청원이 가장 많이 들어왔는지?
pandas의 value_counts로 특정 컬럼의 데이터를 그룹화하여 카운된 숫자를 볼 수 있습니다.<br/>
어느 분야의 청원이 가장 많이 들어왔는지 찾아보세요.

## 각 청원이 얼마 동안 집계되었는지?
청원이 가장 많이 들어 온 날은 언제인지 정렬해 보세요.

## 피봇 테이블로 투표를 가장 많이 받은 분야를 찾아보세요.

## 투표를 가장 많이 받은 날은 언제일까요?

## 청원을 많이 받은 날 VS 투표를 많이 받은 날에 대해 각각 상위 5개 목록을 추출해 봅니다. 
이때, title, content는 안 나와도 됩니다.

## 시계열 데이터 보기
* 월별 청원수를 집계해 보세요.

* 청원이 가장 많이 들어온 달은 언제인가요?
* 요일별 청원 수는 어떻게 되나요?

In [0]:
특정 단어가 들어가는 청원을 찾아보세요.

In [0]:
crypto = df[( df.title.str.find('가상화폐') != -1 ) | ( df.content.str.find('가상화폐') != -1  )]
crypto.shape

In [37]:
# 정규표현식 사용을 위해 import
import re
p = r'.*(조선).*'
care = df[df['title'].str.match(p) |
           df['content'].str.match(p, flags=re.MULTILINE)]

print(care.shape)
care.sort_values(by="votes",ascending=False)

(3, 8)

,article_id,start,end,answered,votes,category,title,content
163514,202168,2018-04-16,2018-05-16,0,188,미래,티비 조선 종편 허가 취소 요청 // 한 곳으로 모아야 힘이됩니다. -->> htt...,티비 조선 종편 허가 취소 요청 // 한 곳으로 모아야 힘이됩니다. 현재 10만명...
168833,209243,2018-04-22,2018-05-22,0,16,정치개혁,티비 조선을 지켜 줍시다.,언론의 존재 이유가 뭔가요. ?\n1번도 정권 견재.감시\n2번도 정권 견제.감시\...
162941,201381,2018-04-16,2018-05-16,0,12,정치개혁,티비 조선을 지지한다!!!!,오래만에 제대로 사실을 보도하는 티비 조선! 앞으로도 양심적으로 보도 해주세요. 나...

## 위 분석 외에 각자 해보고 싶은 분석을 해보세요.

# 시각화
참고 : http://plotnine.readthedocs.io/en/stable/
[has2k1/plotnine-examples: Jupyter Notebooks that are part of the plotnine documentation](https://github.com/has2k1/plotnine-examples)

#### 한글폰트 사용하기
* 한글이 깨져보이는 것을 해결하기 위해 한글폰트를 사용해야 한다.
* 여기에서는 나눔바른고딕을 사용하도록 한다. 
    * 이때 폰트가 로컬 컴퓨터에 설치되어 있어야한다. 
    * 나눔고딕은 무료로 사용할 수 있는 폰트다. 
    * 참고 : [네이버 나눔글꼴 라이선스](https://help.naver.com/support/contents/contents.nhn?serviceNo=1074&categoryNo=3497)
* 한글을 사용하기 위해서는 ggplot에서 theme에 폰트를 지정해 주면된다.
* 아래의 문서를 참고하면 **element_text**와 관련된 옵션을 볼 수 있다.
* 참고 : [plotnine.themes.element_text — plotnine 0.3.0 documentation](http://plotnine.readthedocs.io/en/stable/generated/plotnine.themes.element_text.html)

In [0]:
from plotnine import *

(ggplot(df)
 + aes('category')
 + geom_bar(fill='green')
 + theme(text=element_text(family='NanumBarunGothic'),
        axis_text_x=element_text(rotation=60))
)